#divChatWindow {
	height:200px;
	width: 500px;
	border: 1px solid #666;
	overflow: scroll;
}

#gameList {
	width:100%;
	border: 1px solid #666;
	height:200px;
}

.gamePuck {
	width: 75%;
	background:#ccc;
	font-size: 10px;
	font-family: helvetica;
}