
:root {

  --width: 300px;
  --x-speed: 1s;
  --y-speed: 2s;
  --transition-speed: 0.2s;

   --dropshadowblack: rgba(13,13,17, 0.3);
   --offblack_alpha: rgba(9,10,12,0.8);
/*   --trueblack_alpha: rgba(0,0,0,0.75);*/
    --trueblack_alpha: rgba(0,0,0,0.6);
   /*--offblack: rgb(9,10,12);*/
   --offblack: rgb(2,3,4);
   --trueblack: rgb(0,0,0);
 
 /*  --zero_sub: rgb(11,17,23);
   --zero: rgb(24,34,44);*/
   --zero_alpha: rgba(24,34,44,0.7);
 
   --one: rgb(31,47,62);
   --one_sub: rgb(27,42,54);

   /*--zero_sub: rgb(27,42,54);
   --zero: rgb(31,47,62);
*/
   --zero_sub: rgb(20,24,36);
   --zero: rgb(24,31,44);
  /*
   --zero_alpha: rgba(24,31,44,0.7);
   --one: rgb(36,47,71); 
   --one_sub: rgb(29,37,53);
   */
 
/* matching 1*/
   --two: rgb(24,34,44);
   /*
   --two_70: rgba(24,34,44,0.7);
   */
   
  /* --two: rgb(49,55,76);*/
   --two_70: rgba(49,55,76,0.7);
     
   --three: rgb(59,64,84);
   --four: rgb(68,73,92);   
   --dimtext: rgb(35,35,35);

   --blue_text_100: rgb(200,200,250);
   --blue_text_60: rgb(100,100,120);

   --dim_outline: rgb(130,130,130);
   --fadetext: rgb(170,170,170);
   --neutraltext: rgb(220,220,220);
   --white: rgb(255,255,255);
    --white_40: rgba(255,255,255,0.8);
   --offwhite: rgb(235,235,235);
   --selectedIcon: #ffd300;
   /*--highlight: #ffbd00;*/
   /*--highlight: rgb(255, 223, 5);*/
   --highlight: rgb(255, 232, 74);
   --highlight_complement: rgb(15, 172, 4);
   --one_old: #28282b;
   --bordercolor_old: #555;
   --pinline: #111;
   --buttonHighlight: yellow;

   --puck_radius: 8px;
   --modal_radius: 18px;
   --button_radius: 8px;
   --box-shadow_modal: 2px 2px 13px 11px var(--offblack);
  --zero_grad: linear-gradient(138deg, var(--zero), var(--zero) 62%, var(--zero_sub));
  --one_grad: linear-gradient(138deg, var(--one), var(--one) 62%, var(--one_sub));
 /*  --list_grad: linear-gradient(20deg, var(--zero), var(--zero) 60%, var(--one));*/

   --bar_height: calc(44px + env(safe-area-inset-top)) !important;
   --modal_bar_height: env(safe-area-inset-top) !important;;
}





body {
  margin: 0;
  overflow: hidden;
  background: #546E7A;
}

.x {
  animation: x var(--x-speed) linear infinite alternate;
}
.x2 {
  animation: x2 var(--x-speed) linear infinite alternate;
}
.y {
  animation: y var(--y-speed) linear infinite alternate;
}

@keyframes x {
  100% {
    transform: translateX(calc(250px - var(--width)));
  }
}
@keyframes x2 {
  100% {
    transform: translateX(calc(-250px + var(--width)));
  }
}

@keyframes y {
  100% {
    transform: translateY(calc(40vh - var(--width)));
  }
}
.textInput
{
width: 100%;
height: 35px;
font-size: 14px;
font-family: courier;
border: none;
margin: 20px 0px;
}

body
{
	background: white;
	color: #666;
	margin: 2px !important;
	font-family: courier !important;
  overflow: hidden;
	/*font-size: 26px;*/
}



.disable-select {
    user-select: none; /* supported by Chrome and Opera */
   -webkit-user-select: none; /* Safari */
   -khtml-user-select: none; /* Konqueror HTML */
   -moz-user-select: none; /* Firefox */
   -ms-user-select: none; /* Internet Explorer/Edge */
}

.pink
{
	color:pink;
	background-color: blue;
}

#notifications
{
height: 39px;
display: flex;
flex-direction: column;
overflow: hidden;
justify-content: center;
background: white;
margin-bottom: 1px;
color: black;
font-family: courier;
border-bottom: 1px dotted #333;
border-top: 1px dotted #333;
}

.note {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
  font-size: 14px;
  color: #666;
}

.acronymContainer
{
width: 100%
max-height: 110px;
min-height: 110px;
display: flex;
padding: 0px 10px;
justify-content: center;
align-items: center;
margin-bottom: 12px;
overflow:hidden;

}

.letterTile
{
width: 65px;
height: 87px;
font-family: courier new;
font-size: 45px;
font-weight: lighter;
background: white;
color: #999;
border: 1px dotted #666;
display: flex;
justify-content: center;
align-items: center;
transition: 300ms all;
transition-timing-function: ease-in;
margin: 0px 3px;
border-radius: 50px;
}


.kbcontainer
{
	position:fixed;
	bottom:0;
}
.highlightedTile 
{
background: olivedrab;
color: white;
border: none;
}

.voteContainer {
font-size: 13px;
}

.voteContainer_outer {
  margin: 13px 0px;
    color: #666;
}


.animate__animated.animate__fadeIn, .animate__animated.animate__fadeOut{
  --animate-duration: 250ms;
}

#divChatWindow {
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
width: 100%;
overflow: scroll;
height: 198px;
font-family: courier;
font-size: 14px;
background-color: white;
color: #666;
padding: 9px;
border-bottom: 1px dotted #333;
transition: all 200ms ease-in-out;
}

#divChatWindow div
{
  padding-bottom:5px;
  word-wrap: break-word;
}

#keyboard, #keyboard_2
{
	position: relative;
    user-select: none;
}

#keyboard_ghost, #keyboard_2_ghost 
{
	position: absolute;
    user-select: none;
    pointer-events: none;
    opacity: .75;
    bottom: 0;
    width: 100%;
}

.ghost {
	visibility: hidden;
}

#game-keyboard
{
	width: 100% !important;
	position: fixed;
	bottom: 0px;
  left: 0px;
}

#keyboard .row, #keyboard_ghost .row, #keyboard_2 .row, #keyboard_2_ghost .row
{
	display: flex;
    width: 100%;
    margin: 0 auto 0px;
    touch-action: manipulation;
    justify-content:center;
    align-items:flex-end;
}

#row1 {
	/*justify-content:space-between !important;*/
}



#key_shift, #key_backspace, #dead_shift, #dead_backspace, #key_2_shift, #key_2_backspace, #dead_2_shift, #dead_2_backspace
{
	max-width:50px !important;
	font-size: 16px !important;
}

#key_symbols, #key_return, #dead_symbols, #dead_return,  #key_2_symbols, #key_2_return, #dead_2_symbols, #dead_2_return
{
	max-width: 80px !important;
	font-size: 16px !important;
}

#key_space, #dead_space, #key_2_space, #dead_2_space
{
	font-size: 16px !important;
	max-width: 200px !important;
}


input[type="text"][disabled] {
   opacity: 1;
}

.textarea-wrapper {
  position: relative;
}
textarea::-webkit-input-placeholder {
 position: absolute;
 top: 0;
 left: 0;
}

input,
.textarea-wrapper {
  margin: 0px 0 0 0;
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
 -webkit-transition: all 0.3s ease-in-out;
 transition: all 0.3s ease-in-out;
}

input:focus::-webkit-input-placeholder,
textarea:focus::-webkit-input-placeholder{ 
 -webkit-transform: translateY(-20px);
 transform: translateY(-20px);
 visibility: visible !important;
}

.pressed
{
	opacity:70%;
}

.shifted
{

	transform: scale(1.75);
  margin-bottom: 45px !important;
}

.hidden
{
	display: none !important;
}

#keyboard button, #keyboard_ghost button, #keyboard_2 button, #keyboard_2_ghost button
{
font-family: courier;
position: relative;
/* font-weight: 300; */
border: 0;
padding: 0;
line-height: 45px;
margin: 4px 2px;
font-size: 16px;
border: 1px dotted #777 !important;
height: 48px;
border-radius: 16px;
cursor: pointer;
user-select: none;
background-color: white;
color: #888;
max-width: 34px;
flex: 1;
display: flex;
justify-content: center;
align-items: baseline;
-webkit-tap-highlight-color: rgba(0,0,0,0.3);
box-shadow: 1px 1px 0px 0px #aaa;
}



#keyboard button:after, #keyboard2 button:after
{
content: "";
position: absolute;
left: -3px;
top: -3px;
width: 37px;
height: 55px;
background: #e83474;
border: 1px solid pink;
opacity: 0;
} 

#key_shift:after, #key_backspace:after 
{
  width: 52px !important;
  border: 1px solid pink !important;

}

#key_symbols:after, #key_return:after 
{
  width: 85px !important;
  border: 1px solid pink !important;
 
}

#key_space:after
{
  width: 200px !important;
  border: 1px solid pink !important;

}

.upper
{
	text-transform: uppercase !important;
}



#txtMessage
{
width: 99%;
height: 27px;
font-size: 16px;
padding: 6px 0px 0px 4px;
margin: 0px 0px;
pointer-events: none;
border: none;
border-radius: 0px;
font-family: courier;
color: #666;
border-bottom: 1px dotted #333;
transition: all 200ms ease-in-out;
}

.completed
{
  color: white;
  background: black;
}

#btnStart
{
    font-family: courier;
    position: relative;
    /* font-weight: 100; */
    border: 0;
    padding: 0;
    line-height: 39px;
    margin: 4px;
    font-size: 21px;
    height: 41px;
    border-radius: 19px;
    cursor: pointer;
    color: #777;
    user-select: none;
    background-color: white;
    max-width: 100px;
    flex: 1;
    display: flex;
    box-shadow: 2px 2px 0px 0px #888;
    justify-content: center;
    align-items: baseline;
    border: 1;
    -webkit-tap-highlight-color: rgba(0,0,0,0.3);
    border: 1px dotted #666;
}

#btnJoin, #txtGameId
{
	display: none;
}

button
{
	/*width: 150px;
	height: 75px;
	font-size: 26px;*/
}

#btnMessage
{
	display: none;
}

#gameList {
	width:100%;
	border: 1px solid #666;
	height:200px;
}

.gamePuck {
	width: 75%;
	font-size: 36px;
	font-weight: bold;
	font-family: helvetica;
}


.modal {
  background-color: var(--zero);
  z-index: 100 !important;
}

.blockingModalTitle {
    color: #666;
    font-size: 16px;
    /* font-weight: 500; */
    /* letter-spacing: 2px; */
    text-align: center;
    font-family: courier;
    /* border-bottom: 1px dotted #666;
}

.modal_detail_text {
color: #666;
font-size: 14px;
padding: 0px 0 25px;
font-family: courier;
width: 85%;
/* line-height: 20px; */
}

.modal_detail_text li {
  /*font-variant-caps: all-small-caps;*/
  /*color:var(--blue_text_100);*/
  color:var(--white_40) !important;
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 1px;

}


.modal_detail_text div {
margin: 30px 10px;
font-size: 13px;
}


  
.blockingModalExtra
{
    color:var(--offwhite);
  font-size: 12px;
  font-weight: 300;
  letter-spacing: 1px;
    text-align: center;
    font-style: italic;
}

.stackablePrompt {
    width: 100% !important;
    display: flex;
    justify-content: center;
    padding: 10px 0;
    /* background: #bbb; */
    color: #666;
    border-bottom: 1px dotted #666;
}

.stackableActions {
  display: flex;
  flex-direction:column;
  width:100% !important;
  justify-content:center;
  margin-top:20px;
}

.modal_icon {
  display:flex;
  text-align:center; 
  align-items:center;
  padding:30px 10px 10px; 
  font-size:60px !important;
  color:var(--offwhite) !important;
}

.modal_puck {
    min-height: 150px;
    width: 80%;
    color: white;
    background-color: var(--one);
    box-shadow: var(--box-shadow_modal);
    border-radius: var(--modal_radius);

    padding: 10px 0px 3px 0px;
    flex-direction: column;
    display: flex;
    justify-content: center;

    margin-bottom: -470px;
    margin-top: 50%;
}

.modal_bg {
  position: fixed;
  display:flex;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 200;
  height: 100%; 
  justify-content: center;
  align-items: center;
  background: rgba(255,255,255,0.4);
}

#caveat
{
  color: firebrick;
}

#nickScore
{
  color: #63195c;
}

#acronymReport
{
  color: olivedrab;
  font-weight: bold;
}

#acronymScore
{
  color: #8e2383;
}

#clockContainer
{

}

#clockContainer svg
{
  max-height: 104px;
}

.confirmation_button
{
    width: 80px;
    background-color: white;
    border: 1px dotted #666;
    border-radius: 2px;
    font-family: courier new;
    box-shadow: 2px 2px 1px 0px #888;
    height: 35px;
    font-size: 15px;
}

.confirmationActions
{
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal_box {
transition: all .2s ease-in-out;
-webkit-box-shadow: 2px 2px 1px 0px #888);
-moz-box-shadow: 2px 2px 1px 0px #888;
overflow: hidden;
box-shadow: 2px 2px 1px 0px #888;
border: 1px dotted #666;
z-index: 300;
margin-bottom:70px;
background-color: white;
border-radius: 2px;
}

.modal_narrow {
  width:55vw !important; 
}

.modal_content {
 /* transition: all .5s ease-in-out;*/
  width: 88vw;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items:center;

}

.modal_text_label {
  /*font-variant-caps: all-petite-caps;*/
  text-transform: uppercase;
  letter-spacing: 1px;
  padding-bottom: 0px !important;
  font-size:10px;
}

.detail_text {
  font-size:12px;
  color:var(--neutraltext);
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 300;
}

.simpleModalTitleBar {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid var(--trueblack);
}

.modalMessage {
  padding:15px 25px 20px 25px;
  color:#787878;
  text-align: center;
  font-size: 12px;
  display:flex;
  justify-content:center;
  align-items:center;
}

.modalMessage i {
  opacity: 1;
  padding:0 7px;
}


@media screen  and (min-device-width: 1200px)  and (max-device-width: 1600px)  and (-webkit-min-device-pixel-ratio: 1) { 

.modal_content {
    width: 88%;
}

.modal_box {
    max-width: 480px;
}


body {
	display:flex;
	justify-content:center;

}

#main {
	width: 500px !important;
}
  	#game-keyboard {
  		display:none;
  	}

  	#txtMessage {
  		pointer-events: auto;
  	}
}

