
body
{
	background: black;
	color: white;
	margin: 2px !important;
	/*font-size: 26px;*/
}



.disable-select {
    user-select: none; /* supported by Chrome and Opera */
   -webkit-user-select: none; /* Safari */
   -khtml-user-select: none; /* Konqueror HTML */
   -moz-user-select: none; /* Firefox */
   -ms-user-select: none; /* Internet Explorer/Edge */
}

.pink
{
	color:pink;
	background-color: blue;
}

#notifications
{
	height: 50px;
	display:flex;
	flex-direction:column;
	overflow:hidden;
	border: 1px solid #fff;
	justify-content: center;
}

.note {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: sans-serif;
}

.acronymContainer
{
	width:100%
	height: 110px;
	min-height:110px;
	display:flex;
	padding: 0px 10px;
	justify-content: center;
	align-items: center;
}

.letterTile
{
	width:75px;
	height:100px;
	font-size: 50px;
	font-family: sans-serif;
	font-weight: bolder;
	background: #777;
	color:#fff;
	border:1px solid #444;
	display: flex;
	justify-content:center;
	align-items:center;
	transition: 300ms all;
	transition-timing-function: ease-in;
}


.kbcontainer
{
	position:fixed;
	bottom:0;
}
.highlightedTile 
{
	background: green;
}

#divChatWindow {
	width:100%;
	border: 1px solid #666;
	overflow: scroll;
	height: 20vh;
	font-family: helvetica;
	font-size: 16px;
}

#keyboard, #keyboard_2
{
	position: relative;
    user-select: none;
}

#keyboard_ghost, #keyboard_2_ghost 
{
	position: absolute;
    user-select: none;
    pointer-events: none;
    opacity: .75;
    bottom: 0;
    width: 100%;
}

.ghost {
	visibility: hidden;
}

#game-keyboard
{
	width: 100% !important;
	position: fixed;
	bottom: 0px;
}

#keyboard .row, #keyboard_ghost .row, #keyboard_2 .row, #keyboard_2_ghost .row
{
	display: flex;
    width: 100%;
    margin: 0 auto 0px;
    touch-action: manipulation;
    justify-content:center;
    align-items:flex-end;
}

#row1 {
	/*justify-content:space-between !important;*/
}



#key_shift, #key_backspace, #dead_shift, #dead_backspace, #key_2_shift, #key_2_backspace, #dead_2_shift, #dead_2_backspace
{
	max-width:50px !important;
	font-size: 16px !important;
}

#key_symbols, #key_return, #dead_symbols, #dead_return,  #key_2_symbols, #key_2_return, #dead_2_symbols, #dead_2_return
{
	max-width: 80px !important;
	font-size: 16px !important;
}

#key_space, #dead_space, #key_2_space, #dead_2_space
{
	font-size: 16px !important;
	max-width: 200px !important;
}


input[type="text"][disabled] {
   opacity: 1;
}


.pressed
{
	opacity:50%;
}

.shifted
{
	height: 80px !important;
	transform: scale(1.5);
}

.hidden
{
	display: none !important;
}

#keyboard button, #keyboard_ghost button, #keyboard_2 button, #keyboard_2_ghost button
{
	position:relative;
	font-family: sans-serif;
    font-weight: 300;
    border: 0;
    padding: 0;
    line-height: 37px;
    margin: 4px;
    font-size: 25px;
    height: 41px;
    border-radius: 4px;
    cursor: pointer;
    user-select: none;
    background-color: #555;
    color: #ddd;
    max-width: 30px;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: baseline;
    -webkit-tap-highlight-color: rgba(0,0,0,0.3);
}



#keyboard button:after, #keyboard2 button:after
{
  content: "";
  position: absolute;
  left: -3px;
  top: -3px;
  width: 36px;
  height: 47px;
  background: #e83474;
  border: 1px solid pink;
  opacity:0;
} 

#key_shift:after, #key_backspace:after 
{
  width: 52px !important;
  border: 1px solid pink !important;

}

#key_symbols:after, #key_return:after 
{
  width: 85px !important;
  border: 1px solid pink !important;
 
}

#key_space:after
{
  width: 200px !important;
  border: 1px solid pink !important;

}

.upper
{
	text-transform: uppercase !important;
}



#txtMessage
{
	width:95%;
    height: 26px;
    font-size: 18px;
    margin: 12px 0px !important;
    pointer-events: none;
}


#btnStart
{
	position:relative;
	font-family: sans-serif;
    font-weight: 300;
    border: 0;
    padding: 0;
    line-height: 37px;
    margin: 4px;
    font-size: 25px;
    height: 41px;
    border-radius: 4px;
    cursor: pointer;
    user-select: none;
    background-color: #555;
    color: #ddd;
    max-width: 100px;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: baseline;
    -webkit-tap-highlight-color: rgba(0,0,0,0.3);
}

#btnJoin, #txtGameId
{
	display: none;
}

button
{
	/*width: 150px;
	height: 75px;
	font-size: 26px;*/
}

#btnMessage
{
	display: none;
}

#gameList {
	width:100%;
	border: 1px solid #666;
	height:200px;
}

.gamePuck {
	width: 75%;
	font-size: 36px;
	font-weight: bold;
	font-family: helvetica;
}

@media screen  and (min-device-width: 1200px)  and (max-device-width: 1600px)  and (-webkit-min-device-pixel-ratio: 1) { 

body {
	display:flex;
	justify-content:center;

}

#main {
	width: 500px !important;
}
  	#game-keyboard {
  		display:none;
  	}

  	#txtMessage {
  		pointer-events: auto;
  	}
}

